@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 "Noto Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  background-color: #e5c30a;
  padding: 0;
  padding: 1.3rem 1.3rem 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1.4rem;
  padding: 0;
  max-width: 45em;
}

.img-flex {
  display: block;
  width: 100%;
}

.section-letter,
.section-icon {
  width: 50%;
  text-align: center;
}

.section-body {
  margin: 0;
  margin-bottom: 1.4rem;
}

h2, p {
  margin: 0;
}

@media only screen and (min-width: 25em) {

  .section-letter,
  .section-icon {
    padding: 0 1rem;
  }

  section {
    margin-top: 0;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .section-letter,
  .section-icon {
    width: 33.3333%;
    text-align: center;
    padding: 1rem;
  }

  .wrapper {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 100%;
  }

  .img-flex {
    width: 100%;
  }

  .section-letter {
    order: -1;
  }

  .section-body {
    margin: 0;
    width: 100%;
    order: -1;
    padding: 1.3rem;
    padding-top: 0;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  section {
    padding: 0;
  }

  .wrapper {
    justify-content: space-between;
    align-items: stretch;
    padding: 1rem;
  }

  .section-body {
    padding: 1.3rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  section {
    align-items: center;
    justify-content: space-around;

  }

  .wrapper {
    margin: auto;
    padding: 0;
    justify-content: space-around;
    max-width: 45em;
  }

  .section-body,
  .section-letter,
  .section-icon {
    padding: 1.3rem;
  }

}
